In [44]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

In [45]:
#  import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/sunil/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /home/sunil/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /home/sunil/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [46]:
sent = """Restaurant Receipt

Name Jane Smith 002

Receipt #

Email jasmith@noemail.com  Date 4/8/2019

Phone Number (123) 123-4567 Time 5:00 PM

Ordered Items

Food Name Quantity Price Total

1 Food A 5 5 25

2 Food B 5 5 25

3 Food C 5 5 25

4 Drink D 5 2 10

5 Drink E 5 2 10
Subtotal $95
Tax % 5

I

Total $99.75

Hope you enjoy your dining experience!

1929 Brown Bear Drive, Elsinore,CA, 92330
Phone: (123) 1234567 - nfo@xyzrestaurant com - st xyzrestaurant com"""
words= word_tokenize(sent)
postags=pos_tag(words)

In [47]:
ne_tree = nltk.ne_chunk(postags,binary=False)
print(ne_tree)

(S
  Restaurant/NNP
  Receipt/NNP
  Name/NNP
  (PERSON Jane/NNP Smith/NNP)
  002/CD
  Receipt/NNP
  #/#
  Email/NNP
  jasmith/NN
  @/NNP
  noemail.com/NN
  Date/NNP
  4/8/2019/CD
  Phone/NNP
  Number/NNP
  (/(
  123/CD
  )/)
  123-4567/JJ
  Time/NNP
  5:00/CD
  PM/NNP
  Ordered/NNP
  Items/NNP
  Food/NNP
  Name/NNP
  Quantity/NNP
  Price/NNP
  Total/NNP
  1/CD
  Food/NNP
  A/NNP
  5/CD
  5/CD
  25/CD
  2/CD
  Food/NNP
  B/NNP
  5/CD
  5/CD
  25/CD
  3/CD
  Food/NNP
  C/NNP
  5/CD
  5/CD
  25/CD
  4/CD
  Drink/NNP
  D/NNP
  5/CD
  2/CD
  10/CD
  5/CD
  Drink/NNP
  E/NNP
  5/CD
  2/CD
  10/CD
  Subtotal/JJ
  $/$
  95/CD
  Tax/NNP
  %/NN
  5/CD
  I/PRP
  Total/VBP
  $/$
  99.75/CD
  Hope/NNP
  you/PRP
  enjoy/VBP
  your/PRP$
  dining/VBG
  experience/NN
  !/.
  1929/CD
  (PERSON Brown/NNP Bear/NNP Drive/NNP)
  ,/,
  (GPE Elsinore/NNP)
  ,/,
  (ORGANIZATION CA/NNP)
  ,/,
  92330/CD
  Phone/NN
  :/:
  (/(
  123/CD
  )/)
  1234567/CD
  -/:
  nfo/NN
  @/NN
  xyzrestaurant/NNP
  com/NN
  -/:
  st/NN
  xyzrestaurant/JJ
  com/NN)

In [48]:
from nltk.chunk import tree2conlltags
from pprint import pprint
iob_tagged = tree2conlltags(ne_tree)
pprint(iob_tagged)

[('Restaurant', 'NNP', 'O'),
 ('Receipt', 'NNP', 'O'),
 ('Name', 'NNP', 'O'),
 ('Jane', 'NNP', 'B-PERSON'),
 ('Smith', 'NNP', 'I-PERSON'),
 ('002', 'CD', 'O'),
 ('Receipt', 'NNP', 'O'),
 ('#', '#', 'O'),
 ('Email', 'NNP', 'O'),
 ('jasmith', 'NN', 'O'),
 ('@', 'NNP', 'O'),
 ('noemail.com', 'NN', 'O'),
 ('Date', 'NNP', 'O'),
 ('4/8/2019', 'CD', 'O'),
 ('Phone', 'NNP', 'O'),
 ('Number', 'NNP', 'O'),
 ('(', '(', 'O'),
 ('123', 'CD', 'O'),
 (')', ')', 'O'),
 ('123-4567', 'JJ', 'O'),
 ('Time', 'NNP', 'O'),
 ('5:00', 'CD', 'O'),
 ('PM', 'NNP', 'O'),
 ('Ordered', 'NNP', 'O'),
 ('Items', 'NNP', 'O'),
 ('Food', 'NNP', 'O'),
 ('Name', 'NNP', 'O'),
 ('Quantity', 'NNP', 'O'),
 ('Price', 'NNP', 'O'),
 ('Total', 'NNP', 'O'),
 ('1', 'CD', 'O'),
 ('Food', 'NNP', 'O'),
 ('A', 'NNP', 'O'),
 ('5', 'CD', 'O'),
 ('5', 'CD', 'O'),
 ('25', 'CD', 'O'),
 ('2', 'CD', 'O'),
 ('Food', 'NNP', 'O'),
 ('B', 'NNP', 'O'),
 ('5', 'CD', 'O'),
 ('5', 'CD', 'O'),
 ('25', 'CD', 'O'),
 ('3', 'CD', 'O'),
 ('Food', 'NNP', 'O'),
 ('C', 'NNP', 'O'),
 ('5', 'CD', 'O'),
 ('5', 'CD', 'O'),
 ('25', 'CD', 'O'),
 ('4', 'CD', 'O'),
 ('Drink', 'NNP', 'O'),
 ('D', 'NNP', 'O'),
 ('5', 'CD', 'O'),
 ('2', 'CD', 'O'),
 ('10', 'CD', 'O'),
 ('5', 'CD', 'O'),
 ('Drink', 'NNP', 'O'),
 ('E', 'NNP', 'O'),
 ('5', 'CD', 'O'),
 ('2', 'CD', 'O'),
 ('10', 'CD', 'O'),
 ('Subtotal', 'JJ', 'O'),
 ('$', '$', 'O'),
 ('95', 'CD', 'O'),
 ('Tax', 'NNP', 'O'),
 ('%', 'NN', 'O'),
 ('5', 'CD', 'O'),
 ('I', 'PRP', 'O'),
 ('Total', 'VBP', 'O'),
 ('$', '$', 'O'),
 ('99.75', 'CD', 'O'),
 ('Hope', 'NNP', 'O'),
 ('you', 'PRP', 'O'),
 ('enjoy', 'VBP', 'O'),
 ('your', 'PRP$', 'O'),
 ('dining', 'VBG', 'O'),
 ('experience', 'NN', 'O'),
 ('!', '.', 'O'),
 ('1929', 'CD', 'O'),
 ('Brown', 'NNP', 'B-PERSON'),
 ('Bear', 'NNP', 'I-PERSON'),
 ('Drive', 'NNP', 'I-PERSON'),
 (',', ',', 'O'),
 ('Elsinore', 'NNP', 'B-GPE'),
 (',', ',', 'O'),
 ('CA', 'NNP', 'B-ORGANIZATION'),
 (',', ',', 'O'),
 ('92330', 'CD', 'O'),
 ('Phone', 'NN', 'O'),
 (':', ':', 'O'),
 ('(', '(', 'O'),
 ('123', 'CD', 'O'),
 (')', ')', 'O'),
 ('1234567', 'CD', 'O'),
 ('-', ':', 'O'),
 ('nfo', 'NN', 'O'),
 ('@', 'NN', 'O'),
 ('xyzrestaurant', 'NNP', 'O'),
 ('com', 'NN', 'O'),
 ('-', ':', 'O'),
 ('st', 'NN', 'O'),
 ('xyzrestaurant', 'JJ', 'O'),
 ('com', 'NN', 'O')]

In [49]:
# !pip install spacy

In [50]:
from pprint import pprint
import spacy 
from spacy import displacy
  
nlp = spacy.load('en_core_web_sm') 
  
sentence = '''Employee ID
12345

Employee Name

Angela Mills
Gain
Details
Basic Salary
Bonus
Commission
Deductions
Details
Tax Deductions
Health Insurance
Loan
Payment Method

Wire Transfer

Note
N/A

Payroll Receipt

276 Eagle Lane, Wadena, MN, 56482
(123) 123-4567 - info@email.com - www.abccompany.com

Receipt Date
May 9, 2022
Receipt Number
123456789
Amount ($)
3000
300
500
Amount ($)
30
100
200
Total Gross Salary ($)
$3800
Total Deductions ($)
$330
Total Net Pay ($)
'''
 
  
entities= nlp(sentence)
#to print all the entities with iob tags 
pprint([ (X, X.ent_iob_, X.ent_type_) for X in entities] )
 
#to print just named entities use this code
print("Named entities in this text are\n")
for ent in entities.ents: 
    print(ent.text,ent.label_)
 
# visualize named entities
displacy.render(entities, style='ent', jupyter=True)

[(Employee, 'O', ''),
 (ID, 'O', ''),
 (
, 'O', ''),
 (12345, 'B', 'DATE'),
 (

, 'O', ''),
 (Employee, 'O', ''),
 (Name, 'O', ''),
 (

, 'O', ''),
 (Angela, 'B', 'PERSON'),
 (Mills, 'I', 'PERSON'),
 (
, 'O', ''),
 (Gain, 'O', ''),
 (
, 'O', ''),
 (Details, 'O', ''),
 (
, 'O', ''),
 (Basic, 'O', ''),
 (Salary, 'B', 'WORK_OF_ART'),
 (
, 'I', 'WORK_OF_ART'),
 (Bonus, 'I', 'WORK_OF_ART'),
 (
, 'I', 'WORK_OF_ART'),
 (Commission, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (Deductions, 'O', ''),
 (
, 'O', ''),
 (Details, 'O', ''),
 (
, 'O', ''),
 (Tax, 'O', ''),
 (Deductions, 'O', ''),
 (
, 'O', ''),
 (Health, 'B', 'ORG'),
 (Insurance, 'I', 'ORG'),
 (
, 'I', 'ORG'),
 (Loan, 'I', 'ORG'),
 (
, 'O', ''),
 (Payment, 'O', ''),
 (Method, 'O', ''),
 (

, 'O', ''),
 (Wire, 'O', ''),
 (Transfer, 'O', ''),
 (

, 'O', ''),
 (Note, 'O', ''),
 (
, 'O', ''),
 (N, 'O', ''),
 (/, 'O', ''),
 (A, 'O', ''),
 (

, 'O', ''),
 (Payroll, 'O', ''),
 (Receipt, 'O', ''),
 (

, 'O', ''),
 (276, 'B', 'CARDINAL'),
 (Eagle, 'B', 'ORG'),
 (Lane, 'I', 'ORG'),
 (,, 'O', ''),
 (Wadena, 'B', 'PERSON'),
 (,, 'O', ''),
 (MN, 'B', 'ORG'),
 (,, 'O', ''),
 (56482, 'B', 'CARDINAL'),
 (
, 'O', ''),
 ((, 'O', ''),
 (123, 'B', 'CARDINAL'),
 (), 'O', ''),
 (123, 'B', 'CARDINAL'),
 (-, 'O', ''),
 (4567, 'O', ''),
 (-, 'O', ''),
 (info@email.com, 'O', ''),
 (-, 'O', ''),
 (www.abccompany.com, 'O', ''),
 (

, 'O', ''),
 (Receipt, 'B', 'WORK_OF_ART'),
 (Date, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (May, 'B', 'DATE'),
 (9, 'I', 'DATE'),
 (,, 'I', 'DATE'),
 (2022, 'I', 'DATE'),
 (
, 'O', ''),
 (Receipt, 'B', 'WORK_OF_ART'),
 (Number, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (123456789, 'B', 'DATE'),
 (
, 'O', ''),
 (Amount, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 (3000, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (300, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (500, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (Amount, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 (30, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (100, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (200, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (Total, 'O', ''),
 (Gross, 'O', ''),
 (Salary, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 ($, 'O', ''),
 (3800, 'B', 'MONEY'),
 (
, 'O', ''),
 (Total, 'O', ''),
 (Deductions, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 ($, 'O', ''),
 (330, 'B', 'MONEY'),
 (
, 'O', ''),
 (Total, 'B', 'WORK_OF_ART'),
 (Net, 'I', 'WORK_OF_ART'),
 (Pay, 'I', 'WORK_OF_ART'),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', '')]
Named entities in this text are

12345 DATE
Angela Mills PERSON
Salary
Bonus
Commission WORK_OF_ART
Health Insurance
Loan ORG
276 CARDINAL
Eagle Lane ORG
Wadena PERSON
MN ORG
56482 CARDINAL
123 CARDINAL
123 CARDINAL
Receipt Date WORK_OF_ART
May 9, 2022 DATE
Receipt Number WORK_OF_ART
123456789 DATE
3000 CARDINAL
300 CARDINAL
500 CARDINAL
30 CARDINAL
100 CARDINAL
200 CARDINAL
3800 MONEY
330 MONEY
Total Net Pay WORK_OF_ART

In [51]:
pprint([ (X, X.ent_iob_, X.ent_type_) for X in entities] )

[(Employee, 'O', ''),
 (ID, 'O', ''),
 (
, 'O', ''),
 (12345, 'B', 'DATE'),
 (

, 'O', ''),
 (Employee, 'O', ''),
 (Name, 'O', ''),
 (

, 'O', ''),
 (Angela, 'B', 'PERSON'),
 (Mills, 'I', 'PERSON'),
 (
, 'O', ''),
 (Gain, 'O', ''),
 (
, 'O', ''),
 (Details, 'O', ''),
 (
, 'O', ''),
 (Basic, 'O', ''),
 (Salary, 'B', 'WORK_OF_ART'),
 (
, 'I', 'WORK_OF_ART'),
 (Bonus, 'I', 'WORK_OF_ART'),
 (
, 'I', 'WORK_OF_ART'),
 (Commission, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (Deductions, 'O', ''),
 (
, 'O', ''),
 (Details, 'O', ''),
 (
, 'O', ''),
 (Tax, 'O', ''),
 (Deductions, 'O', ''),
 (
, 'O', ''),
 (Health, 'B', 'ORG'),
 (Insurance, 'I', 'ORG'),
 (
, 'I', 'ORG'),
 (Loan, 'I', 'ORG'),
 (
, 'O', ''),
 (Payment, 'O', ''),
 (Method, 'O', ''),
 (

, 'O', ''),
 (Wire, 'O', ''),
 (Transfer, 'O', ''),
 (

, 'O', ''),
 (Note, 'O', ''),
 (
, 'O', ''),
 (N, 'O', ''),
 (/, 'O', ''),
 (A, 'O', ''),
 (

, 'O', ''),
 (Payroll, 'O', ''),
 (Receipt, 'O', ''),
 (

, 'O', ''),
 (276, 'B', 'CARDINAL'),
 (Eagle, 'B', 'ORG'),
 (Lane, 'I', 'ORG'),
 (,, 'O', ''),
 (Wadena, 'B', 'PERSON'),
 (,, 'O', ''),
 (MN, 'B', 'ORG'),
 (,, 'O', ''),
 (56482, 'B', 'CARDINAL'),
 (
, 'O', ''),
 ((, 'O', ''),
 (123, 'B', 'CARDINAL'),
 (), 'O', ''),
 (123, 'B', 'CARDINAL'),
 (-, 'O', ''),
 (4567, 'O', ''),
 (-, 'O', ''),
 (info@email.com, 'O', ''),
 (-, 'O', ''),
 (www.abccompany.com, 'O', ''),
 (

, 'O', ''),
 (Receipt, 'B', 'WORK_OF_ART'),
 (Date, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (May, 'B', 'DATE'),
 (9, 'I', 'DATE'),
 (,, 'I', 'DATE'),
 (2022, 'I', 'DATE'),
 (
, 'O', ''),
 (Receipt, 'B', 'WORK_OF_ART'),
 (Number, 'I', 'WORK_OF_ART'),
 (
, 'O', ''),
 (123456789, 'B', 'DATE'),
 (
, 'O', ''),
 (Amount, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 (3000, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (300, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (500, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (Amount, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 (30, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (100, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (200, 'B', 'CARDINAL'),
 (
, 'O', ''),
 (Total, 'O', ''),
 (Gross, 'O', ''),
 (Salary, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 ($, 'O', ''),
 (3800, 'B', 'MONEY'),
 (
, 'O', ''),
 (Total, 'O', ''),
 (Deductions, 'O', ''),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', ''),
 ($, 'O', ''),
 (330, 'B', 'MONEY'),
 (
, 'O', ''),
 (Total, 'B', 'WORK_OF_ART'),
 (Net, 'I', 'WORK_OF_ART'),
 (Pay, 'I', 'WORK_OF_ART'),
 ((, 'O', ''),
 ($, 'O', ''),
 (), 'O', ''),
 (
, 'O', '')]

In [52]:
spacy.explain("DATE")

'Absolute or relative dates or periods'

In [53]:
spacy.explain("PRODUCT")

'Objects, vehicles, foods, etc. (not services)'

In [54]:
spacy.explain("MONEY")

'Monetary values, including unit'

In [55]:
spacy.explain("PERSON")

'People, including fictional'

In [56]:
import spacy
from pprint import pprint
# Load English tokenizer, tagger, parser and NER
nlp = spacy.load("en_core_web_sm")

# Process whole documents
text = '''Restaurant Receipt

Name Jane Smith 002

Receipt #

Email jasmith@noemail.com  Date 4/8/2019

Phone Number (123) 123-4567 Time 5:00 PM

Ordered Items

Food Name Quantity Price Total

1 Food A 5 5 25

2 Food B 5 5 25

3 Food C 5 5 25

4 Drink D 5 2 10

5 Drink E 5 2 10
Subtotal $95
Tax % 5

I

Total $99.75

Hope you enjoy your dining experience!

1929 Brown Bear Drive, Elsinore,CA, 92330
Phone: (123) 1234567 - nfo@xyzrestaurant com - st xyzrestaurant com

        '''
doc = nlp(text)

# Analyze syntax
print("Noun phrases:", [chunk.text for chunk in doc.noun_chunks])
print("Verbs:", [token.lemma_ for token in doc if token.pos_ == "VERB"])

# Find named entities, phrases and concepts
for entity in doc.ents:
    print(entity.text, entity.label_)

Noun phrases: ['Restaurant Receipt\n\nName Jane Smith', 'Receipt', '123-4567 Time', '5:00 PM', 'Ordered Items\n\nFood Name Quantity Price Total', '5 5 25\n\n2 Food B', '5 2 10\nSubtotal', 'I', 'you', 'your dining experience', '1929 Brown Bear Drive', 'Elsinore', 'CA', '92330\nPhone', '123) 1234567 - nfo@xyzrestaurant com - st xyzrestaurant com']
Verbs: ['total', 'hope', 'enjoy']
002 CARDINAL
Receipt # WORK_OF_ART
123 CARDINAL
123 CARDINAL
5:00 PM TIME
1 CARDINAL
5 CARDINAL
2 CARDINAL
3 CARDINAL
5 CARDINAL
4 CARDINAL
5 CARDINAL
95 MONEY
99.75 MONEY
1929 DATE
Brown Bear Drive EVENT
CA ORG
92330 CARDINAL
123 CARDINAL
1234567 DATE

In [57]:
spacy.explain("DATE")

'Absolute or relative dates or periods'

In [59]:
spacy.explain("PERSON")

'People, including fictional'